adf/pipeline/PL_azureSqlDb_to_bronze.json
{
	"name": "PL_azureSqlDb_to_bronze",
	"properties": {
		"activities": [
			{
				"name": "LK_Get_Watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT watermark_value\nFROM dbo.watermark_control\nWHERE table_name = 'orders';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzureSQL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CP_Orders_To_Bronze",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LK_Get_Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat(\n'SELECT * FROM dbo.orders WHERE order_purchase_timestamp > ''',\nactivity('LK_Get_Watermark').output.firstRow.watermark_value,\n''''\n)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_AzureSQL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DSAzureDb_to_Adls",
						"type": "DatasetReference",
						"parameters": {
							"p_filename": "orders.csv"
						}
					}
				]
			},
			{
				"name": "CP_OrderItems_To_Bronze",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CP_Orders_To_Bronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat(\n'SELECT oi.* FROM dbo.order_items oi \nJOIN dbo.orders o ON oi.order_id = o.order_id \nWHERE o.order_purchase_timestamp > ''',\nactivity('LK_Get_Watermark').output.firstRow.watermark_value,\n''''\n)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_AzureSQL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DSAzureDb_to_Adls",
						"type": "DatasetReference",
						"parameters": {
							"p_filename": "order_items.csv"
						}
					}
				]
			},
			{
				"name": "CP_OrderPayments_To_Bronze",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CP_Orders_To_Bronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat(\n'SELECT op.* FROM dbo.order_payments op \nJOIN dbo.orders o ON op.order_id = o.order_id \nWHERE o.order_purchase_timestamp > ''',\nactivity('LK_Get_Watermark').output.firstRow.watermark_value,\n''''\n)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_AzureSQL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DSAzureDb_to_Adls",
						"type": "DatasetReference",
						"parameters": {
							"p_filename": "order_payments.csv"
						}
					}
				]
			},
			{
				"name": "SC_Update_Watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CP_OrderItems_To_Bronze",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "CP_OrderPayments_To_Bronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_update_watermark]"
				},
				"linkedServiceName": {
					"referenceName": "LS_toAzureSqlDb",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}